@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");
body {
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: $gray-30;
}
::-webkit-scrollbar-track {
    border-radius: $border-radius-min;
}
.btn {
    &:focus {
        border: 1px solid transparent;
        box-shadow: none;
        outline: 0;
    }
}
