.search-row {
    position: absolute;
    top: $page-margin-top-bottom;
    background-color: $white;
    width: 30%;
    left: 20px;
    max-height: 350px;
    overflow-y: scroll;
    border-radius: $border-radius-min;
    @extend %box-shadow-main;
    border: 1px solid $gray-10;
    a {
        font-size: $fs-min + 2;
        color: $gray-90;
        padding: $padding-normal;
        &:hover {
            background-color: $gray-20;
        }
    }
    .search-parent {
        display: contents;
    }
}
