.user-all {
    @media screen and (max-width: 768px) {
        padding-bottom: $page-margin-top-bottom;
    }
    .user-card {
        margin: $margin-normal 0;
        border-radius: $border-radius-min;
        @extend %box-shadow-main;
        border: 1px solid $gray-20;
        text-align: center;
    }
    .user-profile-img {
        object-fit: cover;
        @include boxSize(100%, $box-size-img * 4, $border-radius-min);
    }
    .user-name {
        margin: $margin-normal 0;
        font-size: $fs-min;
        color: $gray-90;
        font-weight: $fs-weight-normal;
    }
    .btn {
        margin-top: $margin-normal;
        width: 100%;
        padding: $padding-min $padding-normal;
        display: block;
    }
    .nothing {
        height: 80vh;
        font-size: $fs-min;
        color: $gray-80;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .user-card-footer {
        padding: $padding-normal;
        padding-top: 0;
        .btn {
            font-size: $fs-min;
        }
        svg {
            width: 20px;
            height: 20px;
        }
    }
    .icon {
        padding-right: $padding-min;
    }
}
