.intro {
    width: 100%;
    @extend %box-shadow-main;
    margin: $margin-normal 0;
    border-radius: $border-radius-min;
    background-color: $white;
    display: inline-block;
    .intro-title {
        padding: $padding-normal;
        border-bottom: 1px solid $gray-20;
        font-size: $fs-normal;
        font-weight: $fs-weight-normal + 100;
        display: flex;
        .btn {
            margin-left: auto;
            display: inline;
            width: auto;
            padding: $padding-min $padding-normal * 2;
        }
    }
    .bio-content {
        text-align: center;
        font-size: $fs-min + 2;
        color: $gray-80;
        padding: $padding-normal;
        font-weight: $fs-weight-normal;
    }
    .edit-form {
        width: 100%;
        display: inline-block;
        padding: $padding-normal $padding-normal;
    }
    .buttons {
        display: flex;
        justify-content: end;
        .btn {
            margin: $margin-min $margin-normal;
            padding: $padding-min 0;
            font-size: $fs-min - 1;
        }
    }
    .textarea-bio {
        text-align: center;
        border-radius: $border-radius-max;
        padding: $padding-normal;
        resize: none;
        display: inline-block;
        width: 100%;
        height: 80px;
        background-color: $gray-10;
        border: 1px solid $gray-30;
        color: $gray-90;
        &:focus-visible {
            outline: 0;
            background-color: $gray-05;
            border: 1px solid $gray-30;
        }
    }
    .btn {
        display: inline-block;
        width: 100%;
        font-weight: $fs-weight-normal;
    }
    .from-address li {
        padding: $padding-normal;
        font-size: $fs-min;
        .icon {
            font-size: $fs-normal;
            color: $color-brand-primary;
            padding-right: $padding-normal;
        }
        a,
        time,
        p {
            font-size: $fs-min;
            font-weight: $fs-weight-normal;
            color: $gray-80;
            padding-left: $padding-min;
            display: inline-block;
        }
    }
}
