.user-friend {
    .friend-card {
        margin: $margin-normal 0;
        padding: $padding-normal;
        display: flex;
        .friends-profile {
            @include boxSize($box-size-img * 3, $box-size-img * 3, 50%);
            object-fit: cover;
        }
        .friend-name {
            margin: auto $margin-normal;
            font-size: $fs-normal;
            color: $gray-80;
        }
        .btn {
            display: inline-block;
            height: fit-content;
            margin: auto 0;
            margin-left: auto;
            width: auto;
        }
    }
    a {
        border: 1px solid $gray-10;
        border-radius: $border-radius-min;
        display: inline-block;
        width: 100%;
        margin-bottom: $margin-normal * 2;
        &:hover {
            background-color: $gray-05;
        }
    }
}
