.main {
    margin: 0;
    margin-top: $page-margin-top-bottom;
    @media screen and (max-width: 768px) {
        margin-top: $page-margin-top-bottom - 20;
    }
    .fixed-sidebar {
        position: fixed;
        top: 0;
        padding-top: $page-margin-top-bottom;
        overflow-y: scroll;
        height: 100%;
        &::-webkit-scrollbar {
            width: 10px;
            height: 100px;
        }
    }
    .static-page {
        margin: auto;
        @media screen and (max-width: 768px) {
            padding-bottom: $page-margin-top-bottom;
        }
    }
    .fixed-sidebar-right {
        position: fixed;
        top: 0;
        padding-top: $page-margin-top-bottom;
        overflow-y: scroll;
        height: 100%;
        right: 0;
        z-index: 2;
        &::-webkit-scrollbar {
            width: 10px;
            height: 100px;
        }
    }
}
