.user-profile-parent {
    .right-sidebar {
        position: sticky;
        top: 90px;
        height: fit-content;
    }
    @media screen and (max-width: 768px) {
        .right-sidebar {
            position: static;
        }
    }
    .center-sidebar {
        .posts-col {
            padding: 0;
        }
        @media screen and (max-width: 768px) {
            padding-bottom: $page-margin-top-bottom;
        }
    }
}
