.navbar {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 19;
    box-shadow: 0px -4px 15px $gray-70;
    background-color: $white;
}
.navbar-header {
    margin: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.logo-search {
    @extend %display-flex-center-y;
    justify-content: space-between;
}
.logo-search .search {
    @extend %display-flex-center-x;
    width: 100%;
}
.navbar .logo a {
    font-size: $fs-normal + 2;
    color: $black;
    span {
        background: $color-brand-secondary;
        background: linear-gradient(45deg, $color-brand-secondary, $color-brand-primary);
        color: $white;
        padding: $padding-normal;
        border-top-left-radius: $border-radius-max;
        border-bottom-right-radius: $border-radius-max;
        margin-right: $margin-min;
    }
}
.logo-search input {
    @include boxSize(80%, 40px, $border-radius-max);
    background-color: $gray-10;
    color: $black;
    border: none;
    padding: 10px 15px;
    transition: $transition-min;
}
.logo-search input:hover {
    padding: 14px 19px;
    width: 90%;
}
.logo-search input:focus,
.logo-search input:focus-visible,
.logo-search input:active {
    border: none;
    outline: none;
}
.ul-flex {
    display: flex;
}
.right-nav {
    display: flex;
}
.center-nav-ul {
    justify-content: space-evenly;
}

.center-nav {
    padding: 0px 130px;
}
.center-nav li a {
    border-radius: $border-radius-min * 2;
    padding: 10px 20px;
    color: $color-brand-primary;
    font-size: $fs-max;
    display: inline-block;
    line-height: 0px;
    border: 3px solid transparent;
    transition: $transition-min;
}
.center-nav li a.active {
    @extend %navbar-link-active;
}
.center-nav li a:hover {
    @extend %navbar-link-active;
}
.account-profile {
    .user-img {
        @include boxSize($box-size-img, $box-size-img, 50%);
        object-fit: cover;
    }
    .user-name {
        color: $black;
        font-weight: 500;
        font-size: $fs-min;
    }
}
.account-nav {
    width: 80%;
    margin-left: auto;
    position: relative;
    @extend %display-flex-between-x-center-y;
}
.account-nav ul {
    justify-content: space-between;
}
.account-nav .right-nav li.right-nav-item > a {
    cursor: pointer;
    @extend %display-flex-center;
    @include boxSize($box-size-img, $box-size-img, 50%);
    line-height: $box-size-img;
    color: $color-brand-primary;
    font-size: 20px;
    background-color: $gray-10;
}
.account-profile {
    padding: 0;
    display: flex;
}
.account-profile p {
    margin: auto $margin-min;
}
.account-profile p {
    display: inline-block;
}
.account {
    @extend %active-right-menu;
    .account-header {
        justify-content: center;
        padding: $padding-min 0px;
    }
    .account-header a {
        justify-content: space-evenly;
        color: $black;
    }
    .account-body {
        .setting {
            &.bt {
                border-top: 1px solid $gray-20;
            }
            @extend %display-flex-between-x-center-y;
            font-size: $fs-min;
            transition: $transition-min;
            padding: $padding-normal 0;
            &:hover {
                background-color: $gray-10;
            }
        }
        .icon {
            @include boxSize($box-size-img, $box-size-img, 50%);
            background-color: $gray-20;
            border-radius: 50%;
            text-align: center;
            line-height: $box-size-img;
            color: $black;
        }
        .content {
            display: flex;
        }
        .text {
            color: $black;
            @extend %display-flex-center-y;
        }
        .left-icon {
            color: $black;
            @extend %display-flex-center-y;
        }
    }
    .account-footer {
        padding: $padding-normal 0px;
        .account-footer-ul {
            flex-wrap: wrap;
            width: 100%;
            display: flex;
        }
        .account-footer-ul a {
            color: $gray-45;
            display: inline-block;
            font-size: $fs-min - 3;
        }
    }
}

.account {
    padding: $padding-min;
    .user-img-xl {
        @include boxSize($box-size-img * 1.5, $box-size-img * 1.5, 50%);
    }
    .account-profile {
        @extend %display-flex-center-y;
        font-size: $fs-normal - 1;
        font-weight: $fs-weight-normal;
    }
    .user-profile {
        padding: 0;
    }
}
.notfication {
    overflow-y: scroll;
    max-height: 400px;
    @extend %active-right-menu;
    background-color: $white;
    padding: $padding-normal 0;
    @extend %box-shadow-main;
    &::-webkit-scrollbar {
        width: 10px;
        border: 1px solid $gray-20;
    }
    .notf-title {
        h3 {
            font-size: $fs-normal;
            padding: $padding-normal;
        }
        .reading span {
            margin: 0 $padding-normal;
            padding: $padding-min $padding-normal;
            font-weight: $fs-weight-normal;
            &:first-child {
                margin-right: 20px;
                background-color: $color-brand-primary-5;
                color: $color-brand-primary;
            }
            background-color: $gray-10;
            border-radius: $border-radius-max;
        }
    }
    .notf-body .notf-content {
        @extend %display-flex-between-x-center-y;
        font-size: $fs-min;
        margin: $padding-normal 0px;
        transition: $transition-min;
        padding: 0px $padding-min;
        padding-left: $padding-normal;
        &:hover {
            background-color: $gray-10;
        }
        .notf-img {
            @include boxSize($box-size-img * 1.5, $box-size-img * 1.5, 50%);
        }
    }
}
.navbar-menu-bars {
    .menu-bars {
        color: $color-brand-primary;
        font-weight: $fs-weight-normal;
        font-size: $fs-normal + 4;
        border-radius: $border-radius-min;
        position: relative;
        &:focus {
            background-color: $gray-10;
            outline: none;
            box-shadow: none;
        }
    }
    .menu-bars-list {
        position: absolute;
        top: 65px;
        right: 0;
        width: 150px;
        @extend %box-shadow-main;
        background-color: $white;
        a {
            display: inline-block;
            padding: $padding-normal;
            font-size: $fs-min;
            color: $black;
            font-weight: $fs-weight-normal;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            :hover {
                background-color: $gray-10;
            }
        }
    }
}
