//color variable
$color-brand-primary: #3152a3;
$color-brand-primary-hover: #2f26c8;
$color-brand-primary-5: #3152a350;
$color-brand-primary-3: #3152a330;
$color-brand-secondary: #002ea3;
$color-brand-tertiary: #5ab9ea;
$white: #f7f9fb;
$dark-white: #c1c8e4;
$black: #000;
$modal-active: #0007;
$black-shadow: #00000030;
$color-brand-danger: #ca0b00;
$color-brand-success: #28a745;
$gray-00: #f5f6f7;
$gray-05: #f2f3f5;
$gray-10: #ebedf0;
$gray-20: #dadde1;
$gray-25: #ccd0d5;
$gray-30: #bec3c9;
$gray-45: #8d949e;
$gray-70: #606770;
$gray-80: #444950;
$gray-90: #303338;
//font-size variable
$fs-min: 16px;
$fs-normal: 20px;
$fs-max: 36px;
$fs-weight-normal: 500;
//margin-padding variable
$padding-min: 5px;
$padding-normal: 10px;
$padding-min-x: 5px 0px;
$padding-min-y: 0px 5px;

$margin-min: 5px;
$margin-normal: 10px;
$margin-min-x: 5px 0px;
$margin-min-y: 0px 5px;

//border-radius
$border-radius-min: 5px;
$border-radius-max: 20px;
//animation
$transition-min: 0.3s;
//box-size
$box-size-img: 38px;
$page-margin-top-bottom: 85px;
