//color variable
$color-brand-primary: #3152A3;
$color-brand-primary-hover: #2f26c8;
$color-brand-primary-5: #3152A350;
$color-brand-primary-3: #3152A330;
$color-brand-secondary: #002ea3;
$color-brand-tertiary: #5ab9ea;
$white: #f7f9fb;
$dark-white: #c1c8e4;
$black: #000;
$black-shadow: #00000030;
$color-brand-danger: #ca0b00;
$color-brand-success: #28a745;
$gray-00: #F5F6F7;
$gray-05: #F2F3F5;
$gray-10: #EBEDF0;
$gray-20: #DADDE1;
$gray-25: #CCD0D5;
$gray-30: #BEC3C9;
$gray-45: #8D949E;
$gray-70: #606770;
$gray-80: #444950;
$gray-90: #303338;
//font-size variable
$fs-min: 16px;
$fs-normal: 20px;
$fs-max: 36px;
$fs-weight-normal: 500;
//margin-padding variable
$padding-min: 5px;
$padding-normal: 10px;
$padding-min-x: 5px 0px;
$padding-min-y: 0px 5px;

$margin-min: 5px;
$margin-normal: 10px;
$margin-min-x: 5px 0px;
$margin-min-y: 0px 5px;

//border-radius
$border-radius-min: 5px;
$border-radius-max: 20px;
//animation
$transition-min: 0.3s;
//box-size
$box-size-img: 36px;
