.menu-list {
    li a {
        font-size: $fs-normal - 2;
        color: $black;
        padding: $padding-normal $padding-normal * 2;
        width: 100%;
        $transition-min: 0.3s;
        display: flex;
        align-items: center;
        .icon {
            @include boxSize(30px, 30px, 50%);
            padding: $padding-normal - 2;
            text-align: center;
            font-size: $fs-normal;
            background-color: $gray-20;
            margin-right: $margin-normal;
        }
        .icon-right {
            margin-left: auto;
        }
        &:hover {
            background-color: $gray-10;
            transform: scale(1.02);
        }
        &.active {
            background-color: $gray-10;
            .icon {
                color: $color-brand-primary;
                font-size: $fs-normal + 2;
            }
        }
    }
}
.title {
    padding: $padding-normal $padding-normal * 2;
}
