.menu-list {
    overflow: hidden;
    li a {
        font-size: $fs-normal - 2;
        color: $black;
        padding: $padding-normal $padding-normal * 2;
        width: 100%;
        $transition-min: 0.3s;
        display: flex;
        align-items: center;
        transform: scale(1);
        transition: 0.2s;
        .icon {
            @include boxSize(25px, 25px, 50%);
            padding: $padding-min + 5;
            text-align: center;
            font-size: $fs-min - 2;
            background-color: $gray-20;
            margin-right: $margin-normal;
        }
        .icon-right {
            margin-left: auto;
        }
        &:hover {
            background-color: $gray-10;
            transform: scale(1.01);
        }
        &.active {
            background-color: $gray-10;
            .icon {
                color: $color-brand-primary;
                font-size: $fs-normal + 2;
            }
        }
    }
}
.title {
    padding: $padding-normal $padding-normal * 2;
    border-bottom: 1px solid $gray-30;
}
